.homeview {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  width: 100%;

  &-left {
    &-item, .ant-dropdown-trigger {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px;
      margin-left: 20px;
    }
  }

  &-right-item {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px;
    margin-right: 20px;
  }
}

.homeview.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .homeview.desktop {
    display: none;
  }

  .homeview.mobile {
    display: flex;
  }
}
